parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: config/error-tracker.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$exception_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$level\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>exception_class" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>level" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/DashboardController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/EventController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/IssueController.php

		-
			message: '#^Call to method text\(\) on an unknown class Illuminate\\Notifications\\Slack\\SlackMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/IssueTriggeredNotification.php

		-
			message: '#^Instantiated class Illuminate\\Notifications\\Slack\\SlackMessage not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/IssueTriggeredNotification.php

		-
			message: '#^Method Hewerthomn\\ErrorTracker\\Notifications\\IssueTriggeredNotification\:\:toSlack\(\) has invalid return type Illuminate\\Notifications\\Slack\\SlackMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/IssueTriggeredNotification.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/ErrorTrackerManager.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Foundation\\Auth\\User and ''getAuthIdentifier'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Services/ErrorTrackerManager.php

		-
			message: '#^Instanceof between Illuminate\\Http\\Request and Illuminate\\Http\\Request will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Services/ErrorTrackerManager.php

		-
			message: '#^Parameter \$event of class Hewerthomn\\ErrorTracker\\Data\\RecordedEventResult constructor expects Hewerthomn\\ErrorTracker\\Models\\Event, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/ErrorTrackerManager.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/FeedbackSubmissionTest.php
