includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    scanFiles:
        - phpstan-stubs/slack-message.stub

    paths:
        - src
        - config
        - routes
        - tests

    level: 5

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/error-tracker.php
